.form-table th.title {
	font-size: 140%;
	font-weight: bold;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

#ui-datepicker-div {
	font-size: 90%;
	font-weight: bold;
}

.postbox label {
	padding-right: 5px;
}

/* Blocks */
.components-blocks-field {
	margin-top: 10px;
}

/* Bulk and quick edit */
#wpbody-content .inline-edit-row-page .inline-edit-col-left.extra,
#wpbody-content .inline-edit-row-page .inline-edit-col-right.extra {
	margin-top: 5px;
}

.inline-extra-col {
	font-size: 12px;
	width: 49%;
	float: left;
}

.inline-edit-col-right+.inline-extra-col {
	clear: left;
	width: 50% !important;
	float: left !important;
}

#bulk-edit .inline-extra-col:nth-of-type(2n + 1) {
	width: 30% !important;
}

tr.quick-edit-row .inline-extra-col:nth-of-type(2n + 1) {
	width: 50% !important;
}

tr.quick-edit-row .inline-extra-col:nth-of-type(2n + 2) {
	width: 49% !important;
}

.inline-extra-col .inline-edit-col {
	padding: 0 0.5em;
}

.inline-extra-col .inline-edit-col>label {
	display: block;
	margin: 0.2em 0;
	line-height: 2.5;
}

.inline-extra-col .title {
	display: block;
	float: left;
	width: 6em;
	line-height: 2.5;
	font-style: italic;
}

.inline-extra-col .help {
	margin-left: 0.5em;
}

/**** Columnas ****/
.termmeta-color-block {
	width: 3em;
	height: 1.4em;
}

.termmeta-image-block {
	width: 80px;
	height: auto;
}

/**** Ancho columnas ****/
.fixed .column-activa,
.fixed .column-destacada {
	width: 110px;
	text-align: center;
}

.fixed .column-director {
	width: 250px;
}

.termmeta-wrap .checkbox_group {
	margin-left: 10px;
}

.wp_termmeta_list {
	margin-top: 0;
}

.term_thumb {
	position: relative;
	width: 130px;
	height: 110px;
	background: white;
	border: 1px solid silver;
	margin-bottom: 10px;
}

.termmeta_modal .thumbnail {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	transition: opacity .1s;
}

.termmeta_modal .thumbnail .centered {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate(50%, 50%);
}

.termmeta_modal .thumbnail .centered img {
	transform: translate(-50%, -70%);
}

.termmeta_modal .thumbnail .filename {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	max-height: 100%;
	word-wrap: break-word;
	text-align: center;
	font-weight: 600;
	background: rgba(255, 255, 255, .8);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
}

.termmeta_modal .thumbnail .filename div {
	padding: 5px 10px;
}

.termmeta_modal .thumbnail .titulo {
	font-size: 0.9em;
}
