.termmeta_modal .asignar,
.termmeta_modal .definida,
.termmeta_modal .eliminar {
	cursor: pointer;
}

#imagen_cabecera {
	margin-top: 5px;
}

#imagen_cabecera label {
	vertical-align: top;
}

.termmeta_modal .titulo {
	font-size: 1.3em;
}

.termmeta_modal .definida {
	display: none;
}

.termmeta_modal.seleccionada .definida {
	display: block;
}

.termmeta_modal.seleccionada .asignar {
	display: none;
}

.termmeta_modal.seleccionada .eliminar {
	display: block;
	/* padding-top: 10px;*/
	/*text-align: center;*/
}

.termmeta_modal a {
	cursor: pointer;
	color: #0073aa;
	text-decoration: underline;
}

.termmeta_modal .galeria li {
	list-style: none;
	display: inline-block;
	margin-right: 2px;
	cursor: grab !important;
}

.termmeta_modal .galeria li img {
	width: 78px;
	height: auto;
}

.termmeta_modal .galeria li a {
	text-decoration: none;
}
