<th scope="row">
	<label for="{{ var.name }}">{{ var.label }}</label>
</th>
<td>
	<input type='checkbox' name='{{ var.name }}' id='{{ var.name }}' {{ function('checked', var.value, true) }}>
	{% if var.description|length > 0 %}<p>{{ var.description }}</p>{% endif %}
</td>
