<th scope="row">
	<label for="{{ var.name }}">{{ var.label }}</label>
</th>
<td>
	<input type='color' name='{{ var.name }}' id='{{ var.name }}' value='{{ var.value }}' {% if var.options %}list='preset_{{ var.name }}'{% endif %}>
	{% if var.options %}
	<datalist id='preset_{{ var.name }}'>
		{% for item in var.options %}
		<option>{{ item.color }}</option>
		{% endfor %}
	</datalist>
	{% endif %}
	{% if var.description|length > 0 %}
		<p>{{ var.description }}</p>
	{% endif %}
</td>
