<th scope="row">
    <label for="{{ var.name }}">{{ var.label }}</label>
</th>
<td>
    <select id='{{ var.name }}' name='{{ var.name }}'>
        {% for key,item in var.options %}
            {% if fn('is_array', item) %}
                <option value='{{ item.value }}' {{ fn('selected', item.value in var.value, true, false ) }}>{{ item.label }}
                </option>
            {% else %}
                <option value='{{ key }}' {{ fn('selected', key in var.value, true, false ) }}>{{ item }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
    {% if var.description|length > 0 %}<p>{{ var.description }}</p>{% endif %}
</td>
