{% set image_txt = __("File", 'wp_taxonomy') %}
{% set set_image_txt = __("Set file", 'wp_taxonomy') %}
<th scope="row">
    <label for="{{ var.name }}">{{ var.label }}</label>
</th>
<td>
    <div id="modal_container"
         class="modal termmeta_modal{% if var.value %} seleccionada{% endif %}"
         data-title="{{ image_txt }}"
         data-button="{{ set_image_txt }}"
         data-type="archive">
        <div class="term_thumb definida">
            <div class="thumbnail">
                <div class="centered">
                    <img class='definida' src='{{ var.value.src }}'>
                </div>
                <div class="filename">
                    <label class='definida titulo'>{{ var.value.name }}</label>
                </div>
            </div>
        </div>
        <p class='definida howto'>{{ __('Click to edit or update the file', 'wp_taxonomy') }}</p>
        <p class='definida eliminar'>
            <a>{{ __('Delete link to file', 'wp_taxonomy') }}</a>
        </p>
        <input type='hidden'
               id='{{ var.name }}'
               name='{{ var.name }}'
               value='{{ var.value.id }}'>
        <p class="add_logo hide-if-no-js asignar">
            <a>{{ set_image_txt }}</a>
        </p>
    </div>
    {% if var.description|length > 0 %}<p>{{ var.description }}</p>{% endif %}
</td>
