<th scope="row">
    <label for="{{ var.name }}">{{ var.label }}</label>
</th>
<td>
    {% for key,item in var.options %}
        {% if not loop.first %}</br>{% endif %}
        {% if fn('is_array', item) %}
            <input type='checkbox' class='checkbox_group' name='{{ var.name }}[{{ item.value }}]' {{ fn('checked', item.value in var.value, true, false ) }}>{{ item.label }}
        {% else %}
            <input type='checkbox' class='checkbox_group' name='{{ var.name }}[{{ key }}]' {{ fn('checked', key in var.value, true, false ) }}>{{ item }}
        {% endif %}
    {% endfor %}
    {% if var.description|length > 0 %}<p>{{ var.description }}</p>{% endif %}
</td>
