{% set begin = "<div class='form-field termmeta-wrap'>" %}
{% set end = "</div>" %}
{% if edit %}
	{% set begin = "<tr class='form-field jt-term-layout-wrap'>" %}{% set end = "</tr>" %}
{% endif %}

{% for var in vars %}
{{ begin }}
	{% include [ path ~ 'taxonomies/' ~ var.type ~ '.twig'] with { 'var' : var } %}
{{ end }}
{% endfor %}
