<th scope="row">
	<label for="{{ var.name }}">{{ var.label }}</label>
</th>
<td>
	<textarea name='{{ var.name }}' id='{{ var.name }}'>{{ var.value }}</textarea>
	{% if var.description|length > 0 %}<p>{{ var.description }}</p>{% endif %}
</td>
