<th scope="row">
	<label for="{{ var.name }}">{{ var.label }}</label>
</th>
<td>
	<input type='text' name='{{ var.name }}' id='{{ var.name }}' value='{{ var.value }}'>
	{% if var.description|length > 0 %}<p>{{ var.description }}</p>{% endif %}
</td>
