<th scope="row">
	<label for="{{ var.name }}">{{ var.label }}</label>
</th>
<td>
		{{ fn('wp_editor', var.value, var.name, var.settings) }}
		{#{ fn('do_action', 'admin_footer') }#}
		{{ fn('do_action', 'admin_print_footer_scripts') }}
	{% if var.description|length > 0 %}<p>{{ var.description }}</p>{% endif %}
</td>
